.form{
  &__user{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 4rem 3rem 3rem;
  }
}
.logo{
  max-width: 150px;
  text-align: left;
}
.ip__login{
  width: 100%;
  display: block;
  border: 1px solid #cccccc;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  border-radius: 5px;
  &:focus{
    border-color: #85b7d9;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    outline: 0;
  }
}

.icon{
  &__user,&__pass{
    z-index: 10;
    width: 40px;
    padding: .375rem 0.75rem;
    height:100%;
  }
}
.error__text{
  font-size: 12px;
  color: #9f3a38;
}
ul li {
  list-style-type: none;
}
.breadcrumb {
  background: none;
  font-weight: bold;
  color: #323232;
  font-size: 20px;
  padding: 0.75rem 0;
  a{
    color: #323232;
    &:hover {
      text-decoration: none;
    }
  }
}

