//Insite Page
.list-button{
  list-style-type: none;
  padding-left: 0;
  span{
    display: block;
    font-size: 20px;
    font-weight: bold;
  }
  li{
    display: inline-block;
  }
}
.page-heading{
  font-size: 24px;
  font-weight: bold;
}
