.er {
  &-header {
    .menu {  
      font-size: 14px;
      font-weight: 600;
      margin: 0;
      padding: 10px 0;
      list-style: none;
      display: flex;
      align-items: center;
    }
    
    .menu li > a {
      display: block;
      padding: 10px;
      color: #323232;
      text-decoration: none;
      &:hover, &.active{
        color: #0072bb;
      }
    }
    
    .menu > li {
      display:block;
      position: relative;
      color: #323232;
    }
    
    .menu-item {
      list-style: none;
      position: absolute;
      left: 0;
      top: 35px;
      margin: 0;
      padding: 0;
      box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
      background-color: #ffffff;
      li {
        min-width: 180px;
        & a:hover {
          color: #0072bb;
         
        }
      }
      &.sub-text{
        li {
          min-width: 250px;
        }
      }
      &.last-item {
        right: 0;
        left: unset;
        li {
          min-width: 100px;
        }
      }
    }

    .fade-enter-active, .fade-leave-active {
      transition: opacity .2s;
    }
    .fade-enter, .fade-leave-active {
      opacity: 0;
    }
    .flag-icon {
      width: 20px;
      margin-right: 5px;
      margin-top: -3px;
    }
    .logo{
      max-width: 115px;
    }
  }
}
