.body-content {
  min-height: calc(100vh - 53px);
}

.has-header {
  padding: 110px 30px 0px;
  min-height: calc(100vh - 163px);
}

.form {
  max-width: 1100px;
  padding: 35px;
  border: 1px solid #e1e1e1;
  display: flex;
  justify-content: space-between;
}