.textbox {
	border: 2px solid #eee;
	border-radius: 3px;
	padding: 10px;
	font-size: medium;
	margin: 5px;
	width: 90%;
	&:hover {
		border: 2px solid #eee;
		border-radius: 3px;
	}
	&:focus {
		outline: none;
		border: 2px solid #aaa;
		border-radius: 3px;
	}
}
.icon-textbox {
	color: gray;
	position: absolute;
	padding: 15px;
}
.button {
	cursor: pointer;
	border: none;
	border-radius: 3px;
	padding: 10px;
	font-size: large;
	margin: 5px;
	width: 95%;
	background-color: #296fc0;
	color: #fff;
	&:focus {
		outline: none;
	}
}
