.auth-page{
    width: 500px;
    margin: 0 auto;
    .form-title{
        margin-top: 24px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
    }
    .form-login-forgot{
        display: block;
        text-align:  center;
        font-size: 14px;
    }
    .ant-input-affix-wrapper{
        border-radius: 4px;
    }
    .ant-form-item{
        margin-bottom: 0;
    }
    .ant-input:focus {
        border-color: #57a8e9;
        outline: 0;
        -webkit-box-shadow: 0 0 0 2px rgba(87,168,233, .2);
        box-shadow: 0 0 0 2px rgba(87,168,233, .2);
    }
    button{
        background: #0072bb;
        font-weight: bold;
    }
    .ant-btn-primary:hover, .ant-btn-primary:focus {
        color: #fff;
        background: #0072bb;
        border-color: #0072bb;
    }
    .error-message {
        padding: 0;
        background: none;
        border: none;
        margin-bottom: 16px;
        color: #9f3a38;
        font-size: 13px;
    }
    .success-message {
        padding: 0;
        background: none;
        border: none;
        margin-bottom: 16px;
        color: #2c662d;
        margin-top: -6px;
        font-size: 13px;
    }
}


  