.form-table {
    max-width: 1100px;
    min-width: 1100px;
    width: fit-content;

    .align-center {
        text-align: center;
    };

    .required {
        color: red;
        padding: 5px;
    };

    table, td {
        border-collapse: collapse;
    };
    
    td {
        font-size: .85em;
        font-weight: 600;
        padding: 5px 10px;
        text-align: start;
        .field-form {
            min-width: 179px;
        };

        .text-form {
            width: 179px;
            padding: 5px 8px;
            font-size: 13px;
            border: 1px solid rgba(34,36,38,.15);
            border-radius: 4px;
            &:focus {
                outline: none;
                border: 1px solid #85b7d9;
            }
        }

        .select-form {
            width: 197px;
            padding: 5px 8px;
            font-size: 13px;
            border: 1px solid rgba(34,36,38,.15);
            border-radius: 4px;
            &:focus {
                outline: none;
                border: 1px solid #85b7d9;
            }
        }

        .file-form {
            position: relative;
            width: 179px;
            padding: 5px 8px;
            font-size: 13px;
            border: none;
            border-radius: 4px;
            background-color: #e0e1e2;
            &:focus {
                outline: none;
                border: 1px solid #85b7d9;
            }
            .file-custom {
                background-color: rgba(0,0,0,.05);
                float: right;
                padding: inherit;
                &::before {
                    content: '***';
                }
            }
        }
    }
}
